[core]
	excludesfile = /Users/marciol/.gitignore_global
[pull]
	rebase = true
[init]
	defaultBranch = main
	templateDir = /Users/marciol/.git-template
[user]
	name = Marcio Faria
	email = marcitolopes@gmail.com
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
