[Desktop Entry]
Name=Visual Studio Code
Comment=Code Editing. Redefined.
GenericName=Text Editor
# Exec=/usr/share/code/code --unity-launch %F
# Exec=/usr/share/code/code --unity-launch --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland --enable-wayland-ime %F
Exec=/usr/share/code/code --unity-launch --ozone-platform=wayland --enable-wayland-ime --ignore-gpu-blocklist --disable-gpu-driver-bug-workarounds --enable-gpu-rasterization --enable-unsafe-webgpu --enable-zero-copy --enable-drdc --enable-webgl-draft-extensions --enable-features=WaylandWindowDecorations,Vulkan,UseSkiaRendererer,VaapiVideoDecoder --use-vulkan --canvas-oop-rasterization --enable-webgpu-developer-features --origin-trial-enabled-features=WebGPU --test-type --v=0 %F
Icon=vscode
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Name[de]=Neues leeres Fenster
Name[es]=Nueva ventana vacía
Name[fr]=Nouvelle fenêtre vide
Name[it]=Nuova finestra vuota
Name[ja]=新しい空のウィンドウ
Name[ko]=새 빈 창
Name[ru]=Новое пустое окно
Name[zh_CN]=新建空窗口
Name[zh_TW]=開新空視窗
# Exec=/usr/share/code/code --new-window %F
# Exec=/usr/share/code/code --new-window --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland --enable-wayland-ime %F
Exec=/usr/share/code/code --new-window --ozone-platform=wayland --enable-wayland-ime --ignore-gpu-blocklist --disable-gpu-driver-bug-workarounds --enable-gpu-rasterization --enable-unsafe-webgpu --enable-zero-copy --enable-drdc --enable-webgl-draft-extensions --enable-features=WaylandWindowDecorations,Vulkan,UseSkiaRendererer,VaapiVideoDecoder --use-vulkan --canvas-oop-rasterization --enable-webgpu-developer-features --origin-trial-enabled-features=WebGPU --test-type --v=0 %F
Icon=vscode
